@import '../../../../styleRoot/color.scss';
$--imageRegister: '../../../../public/image/Register_Jumbotron.jpg';

.image-section{
    height: 60vh;

    background-image: url($--imageRegister);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    position: relative;

    box-sizing: border-box;

    &::before{
        position: absolute;
        
        content: '';

        top: 0%;
        left: 0%;
        right: 0%;
        bottom: 0%;

        background-color: rgba($color: $--dark, $alpha: .4);
    }

    .wrap{
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }

    &__body{
        display: flex;
        flex-direction: column;
        align-items: center;

        position: absolute;

        top:50;
        left: 50;
    }

    &__title{

        font-size: 3rem;
        
        font-weight: bolder;

        color: $--white;

        text-shadow: 0px 3px 5px rgba($color: $--gray, $alpha: .3);
    }
    .space{
        height: 100vh;
    }
}