@import "../../../../../styleRoot/color.scss";

.categories-page {
  width: 100%;
  margin-top: 1rem;
  min-height: 85vh;
  overflow: hidden;
  background-color: rgba($color: $--white, $alpha: 0.5);
  backdrop-filter: blur(5px);
  border-radius: 1rem;
  box-shadow: 0px 3px 10px rgba($color: $--gray, $alpha: 0.5);
  display: flex;
  justify-content: space-between;
  &__group {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 13rem;
    min-width: 13rem;
    padding: 1rem;
    background-color: $--white;
    border-radius: 1rem;
    box-shadow: -3px 0px 15px rgba($color: $--gray, $alpha: 0.5);
    .group__btn-add {
      margin-bottom: 4.5rem;
      transform: none !important;
    }

    .group-item {
      text-align: left;
      width: 100%;
      margin-bottom: 1rem;
      padding: 0.5rem 1rem;
      border-radius: 0.3rem;
      font-size: 0.75rem;
      font-weight: bold;
      color: gray;
      transition: all 0.5s;
      cursor: pointer;
      &:hover {
        background: rgba($color: $--gray, $alpha: 0.1);
      }
      &.active {
        color: $--green-main;
        background: aliceblue;
      }
    }
  }

  &__content {
    flex-grow: 1;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .content {
      &__main-category {
        box-shadow: 0px 1px 2px rgba($color: $--gray, $alpha: 0.5);
        background-color: #e7f1fb;
        border-radius: 0.5rem;
        padding: 0.5rem;
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        position: relative;
        .main-category {
          &__image {
            width: 5rem;
            height: 5rem;
            box-shadow: 0px 0px 0px 2px white;
            background-size: cover;
            border-radius: 0.5rem;
            background-position: 50% 100%;
            background-repeat: no-repeat;
          }

          &__info {
            flex-grow: 1;
            text-align: left;
            margin-left: 1rem;
            .block-flex {
              display: flex;
              align-items: center;
            }
            .info {
              &__name {
                font-weight: bold;
                color: $--blue-main;
                font-size: 1.5rem;
                margin: 0.25rem 0rem;
              }

              &__edit-btn {
                margin-left: 0.5rem;
                color: $--primary;
                cursor: pointer;
                transition: all 0.5s;
                &:hover {
                  opacity: 0.5;
                }
              }

              &__count {
                font-weight: bold;
                opacity: 0.5;
                margin: 0rem;
                font-size: 0.75rem;
              }
            }
          }

          &__delete-btn {
            position: absolute;
            color: $--danger;
            right: 0.5rem;
            top: 0.2rem;
            cursor: pointer;
            transition: all 0.5s;
            font-size: 1.5rem;
            &:hover {
              opacity: 0.5;
            }
          }
        }
      }

      &__sub-category-title {
        color: $--green-main;

        position: relative;

        font-weight: 500;
        font-size: 1.1rem;

        margin-top: 0.5rem;
        &::before {
          content: "";
          position: absolute;

          width: 50%;
          height: 3px;

          background-color: $--green-main;
          border-radius: 1.5px;

          bottom: -0.5rem;
          left: 0;
        }
      }

      &__sub-category-group {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .sub-category-group {
          &__empty {
            width: 100%;
            font-size: 0.9rem;
            color: rgba($color: $--gray, $alpha: 0.6);
            font-weight: bold;
            font-style: italic;
          }
          &__item {
            margin-bottom: 1rem;
            flex: 0 1 49%;
            background-color: $--white;
            align-items: flex-start;
            zoom: 70%;
            &-image {
              box-shadow: 0px 0px 0px 2px $--blue-main;
            }

            &-name {
              max-width: 95%;
              color: $--green-main !important;
            }
          }
        }
      }
    }
  }
}

.category-modal {
  background-color: $--white;
  width: 35rem;
  border-radius: 0.5rem;
  text-align: center;

  &__header {
    padding: 1rem 0rem;
    border-bottom: 1px solid rgba($color: $--gray, $alpha: 0.2);

    .header-category {
      &__title {
        margin: 0;
        border-right: 4px solid $--text-color-bold;
        border-left: 4px solid $--text-color-bold;
        padding: 0.5rem 0rem;
        font-weight: bold;
        font-size: 1.2rem;
        color: $--text-color-bold;
      }
    }
  }

  &__content {
    padding: 1rem;
    .content-category {
      &__image {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        width: 100%;
        height: 15rem;
        border-radius: 0.3rem;
        box-shadow: 0px 2px 4px rgba($color: $--gray, $alpha: 0.5);
        margin-bottom: 1.5rem;
        .image__btn-upload {
          width: 100%;
          display: flex;
          height: 100%;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          color: $--dark;
          font-weight: bold;
          cursor: pointer;
          background: rgba($color: $--gray, $alpha: 0.2);
          border-radius: 0.5rem;
          opacity: 0;
          transition: all 0.5s;
          &:hover {
            opacity: 1;
          }
        }
      }
      &__input {
        margin-bottom: 0.5rem;
      }
    }
  }

  &__footer {
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    .footer-category__btn {
      width: 50%;
      &-body {
        padding: 0.75rem;
      }
    }
  }
}
