@import "../../../../styleRoot/color.scss";

.categories {
  z-index: 10;
  text-align: left;

  margin-left: 3rem;

  position: relative;

  padding: 1.7rem 0rem;
  &__title {
    &.active {
      color: $--green-main;
    }

    cursor: pointer;

    font-size: 1.3rem;
    font-weight: bold;

    color: $--white;

    margin: 0rem;
  }

  &__body {
    position: absolute;
    top: 120%;
    left: 0;
    pointer-events: none;
    transition: all .3s;
    opacity: 0;
    &.active {
      pointer-events: all;
      opacity: 1;
      top: 100%;
    }

    .dropdown {
      position: relative;
      &-menu {
        &.hidden {
          display: none;
        }

        position: absolute;

        padding: 0rem;
        margin: 0rem;

        left: 100%;
        top: 0%;

        background-color: $--white;
        li {
          display: block;
        }
      }

      &-submenu {
        display: flex;
      }

      &-item {
        &:hover {
          transition: 0s;
          background-color: rgba($color: $--green-main, $alpha: 0.7);
          .dropdown-item {
            &__title {
              color: $--white;
              transform: translateX(1rem);
            }

            &__icon {
              color: $--white;
            }
          }
        }
        transition: all 0.5s;
        background-color: $--white;
        text-decoration: none;

        min-width: 15rem;

        display: flex;
        align-items: center;
        justify-content: space-between;

        padding: 0rem 1rem;

        &__title {
          font-weight: bold;
          color: $--dark;
          transition: all 0.3s;
        }

        &__icon {
          color: $--dark;
          transition: all 0.3s;
        }
      }
    }
  }
}

@keyframes hiddenDropdown {
  0% {
    top: 100%;
    opacity: 1;
  }

  99% {
    top: 120%;
    opacity: 0;
  }
  100% {
    top: 120%;
    opacity: 0;
    pointer-events: none;
  }
}

@keyframes showDropdown {
  0% {
    top: 120%;
    opacity: 0;
  }

  99% {
    top: 100%;
    opacity: 1;
  }
  100% {
    top: 100%;
    opacity: 1;
  }
}
