@import "../../../styleRoot/color.scss";

.course-lession {
  .lession-content {
    position: relative;
    display: flex;
    .right-content {
      display: flex;
      flex-direction: column;
      width: 70vw;
      &__video {
        width: 100%;
        height: 75vh;
      }

      .video__loading {
        width: 100%;
        height: 75vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba($color: $--gray, $alpha: 0.2);
        .icon {
          color: $--gray;
        }
      }
    }

    .left-content {
      box-sizing: border-box;
      padding: 0rem 1rem;
      width: 30vw;
      .lession-loading {
        color: $--skeleton;
        margin-top: 2rem;
      }
    }
  }
}
