@import '../../styleRoot/color.scss';

.checkbox{
    &.checkbox-basic{
        width: 1rem;
        height: 1rem;

        border-radius: 0.1rem;
        box-sizing: border-box;
        border: 1px solid rgba($color: $--green-main, $alpha: .5);
        background-color: $--green-main;
        &:before{
            transition: 0.2s;
            position: absolute;
            
            content: '';

            top:0%;
            left: 0%;
            right: 0%;
            bottom: 0%;


            width: calc(0.9rem -1px);
            height: calc(0.9rem -1px);
            background-color: $--white;
            
        }
        &:checked{
            transition-delay: .15s;
            &:before{
                transform: scale(0.4);
            }
        }
    }

    appearance: none;
    cursor: pointer;
    position: relative;
    outline: none;
    &.checkbox-custom{
        height: 1rem;
        width: 2rem;
        background-color: $--light;
        border-radius: 0.5rem;
        
            &::before{
                transition: 0.2s;
                position: absolute;
                top: -0.25rem;
                left: -0.1rem;
                content: '';
                height: 1.5rem;
                width: 1.5rem;
                border-radius: 0.75rem;
                background-color: $--white;
                box-shadow: 0rem 0rem 2px $--dark;
            }
            &:checked{
                transition-delay: .15s;
                background-color: $--green-main;
                &::before{
                    left: 0.6rem;
                }
            }
    }
}
