@import '../../styleRoot/color.scss';


.footer{
    width: 100%;
    min-height: 50vh;
    background-color: $--background;
    .wrap{
        flex-direction: column;
        padding:3.5rem 0rem 2rem;
        margin-bottom: 0;
    }

    &__contents{
        display: flex;
        padding: 0rem 1rem;
        width: 100%;
        text-align: left;
        .content__title{
            .lite{
                color: $--text-color-bold;
                font-weight: bold;
            }

            .logo-inline{
                transform: scale(0.5);
            }
        }

        .content__links{
            .content{
                &.content--hover{
                    &:hover{
                        a{
                            .text{
                                color: $--green-main;
                            }
                        }
                    }
                }
                a{
                    text-decoration: none;
                    .text{
                        transition: all 0.3s;

                        color: $--gray;
                        opacity: 0.7;
                        font-size: 0.9rem;
                    }
                }
            }
        }
    }

    &__notes{
        flex-direction: column;
        margin-top: 1rem;
        span{
            opacity: 1;
            font-weight: bold;
            color: $--green-main;
        }
        p{
                display: inline;
                margin: 0;
                opacity: 0.7;
        }
    }
}